name = "cf-ai-chatbot"
main = "src/index.ts"
compatibility_date = "2024-01-01"

[assets]
directory = "public"

[ai]
binding = "AI"

[[durable_objects.bindings]]
name = "CHAT_ROOM"
class_name = "ChatRoom"
script_name = "cf-ai-chatbot"

[[migrations]]
tag = "v1"
new_classes = ["ChatRoom"]
